{% extends "base.html" %}
{% block content %}

<div class="container tex-center">
    <p class="text-center">HIGHER EDUCATION, HIGHER PURPOSE.</p>
</div>

<div class="container text-center">
    <p class="fs-1" class="fw-bold">
        As a research university and nonprofit institution, Harvard is focused on creating educational opportunities for
        people from many lived experiences.
    </p>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col">
            Text 1
        </div>
        <div class="col">
            <img src="static/images/logo_2.svg" height="50%" width="50%" class="h-7" alt="...">
        </div>
    </div>
</div>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <img src="static/images/logo_2.svg" height="50%" width="50%" class="h-7" alt="...">
        </div>
        <div class="col">
            Texto 2
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col">
            Texto 3
        </div>
        <div class="col">
            <img src="static/images/logo_2.svg" height="50%" width="50%" class="h-7" alt="...">
        </div>
    </div>
</div>

{% endblock %}