{% extends "base.html" %}
{% block content %}
<!-- <div class="separador"></div> -->

<!-- <h1>This is the Home Page</h1> -->
<div class="imagen-principal mask-about">
    <div class="contenedor-texto">
        <div class="row texto-margen justify-content-center">
            <div class="col-4 imagen-principal-izq">
                Acerca de la Sub Unidad de Servicio Social
            </div>
            <div class="col-4 imagen-principal-der">
                Harvard is at the frontier of academic and intellectual discovery. Those who venture here—to learn,
                research, teach, work, and grow—join nearly four centuries of students and scholars in the pursuit of
                truth, knowledge, and a better world.
            </div>
        </div>
    </div>
</div>

<!-- <div class="container tex-center">
    <p class="text-center">HIGHER EDUCATION, HIGHER PURPOSE.</p>
</div> -->

<div class="container texto-superior">
    <h2>
        As a research university and nonprofit institution, Harvard is focused on creating educational opportunities for
        people from many lived experiences.
        </p>
</div>

<div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class=" row texto-contenedor-inf-img">
                    <p>Información</p>
                </div>
                <div class="row contenedor-inf-img">
                    <img src="../static/images/prueba2.png" class="inf-img-1">
                </div>
            </div>
            <div class="col-md-6">
                <div class="columna-texto">
                    <p class="text-rojo-img">1992</p>
                    <p class="text-negro-img">Año de creación de la Sub Unidad de Servicio Social.</p>
                    <p class="text-rojo-img">18,000</p>
                    <p class="text-negro-img">The year that Harvard University was establisehd.</p>
                    <p class="text-rojo-img">1636</p>
                    <p class="text-negro-img">The year that Harvard University was establisehd.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="margenes">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="columna-texto">
                    <p class="text-rojo-img">1992</p>
                    <p class="text-negro-img">Año de creación de la Sub Unidad de Servicio Social.</p>
                    <p class="text-rojo-img">18,000</p>
                    <p class="text-negro-img">The year that Harvard University was establisehd.</p>
                    <p class="text-rojo-img">1636</p>
                    <p class="text-negro-img">The year that Harvard University was establisehd.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class=" row texto-contenedor-inf-img">
                    <p>Más información</p>
                </div>
                <div class="row contenedor-inf-img">
                    <img src="../static/images/prueba2.png" class="inf-img-1">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container margenes">
    <div class="card text-bg-dark">
        <img src="../static/images/about_1.png" class="card-img" alt="...">
        <div class="card-img-overlay">
            <h5 class="card-title">Ofertas academicas y apoyo</h5>
            <p class="card-text">La Sub Unidad cuenta con mas de ... programas de apoyo para estudiantes destacados.</p>
            <p class="card-text"><small>Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>


<div class="container margenes">
    <div class="row">
        <div class="col-md-6">
            People committed to public purpose
        </div>
        <div class="col-md-6">
            Harvard students, alumni, faculty, and staff are committed to making a difference in their communities.
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card text-bg-dark">
                <img src="../static/images/about_1.png" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                    <p class="card-text"><small>Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-bg-dark">
                <img src="../static/images/about_1.png" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                    <p class="card-text"><small>Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-bg-dark">
                <img src="../static/images/about_1.png" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                        content. This content is a little bit longer.</p>
                    <p class="card-text"><small>Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}