<!DOCTYPE html>
<html lang="es">


  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicio Social</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/basepage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/news.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/about.css') }}">
    <meta name="author" content="'''">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body>

    <!-- <div class="main">

    <header class="header-top">
        <div class="d-flex mb-3 wrap">
            <div class="me-auto p-2">
                <img src="{{ url_for('static',filename='images/logo_2.svg') }}" alt="">
            </div>
            
            <div class="p-2 btn-menu" id="btn-menu">
                <span class="fa-solid fa-bars"></span>
                
            </div>
            <div class="p-2" id="me-text">
                <span class="menu-text d-none d-sm-block">Menu</span> 
            </div>

        </div>
    </header> -->

    <!-- <div class="full-menu">
        <div class="parent-element d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="btn-cerrar d-flex justify-content-end">
                    <span class="p-2 d-none d-sm-block">Close</span>
                    <i class="p-2 fa-solid fa-xmark"></i>
                </div>
            </div>
        </div>
        <div class="wrap">
            <nav class="navegacion">
                <ul class="menu-principal">
                    <li><a href="{{url_for('core.index')}}">Home</a></li>
                    <li><a href="{{url_for('services.news')}}">News</a></li>
                    <li><a href="{{url_for('core.about')}}">Acerca de</a></li>
                    <li><a href="#">Convocatoria</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div> -->



    <nav class="navbar bg-light fixed-top">
      <div class="container-fluid container-sm">
        <!-- <a class="navbar-brand" href="#">Offcanvas navbar</a> -->
        <a href="{{url_for('core.index')}}">
          <img src="{{ url_for('static',filename='images/logo_2.svg') }}" alt="Logo Servicio Social"
            style="height:42px">
        </a>
        <img src="{{ url_for('static',filename='images/Logo_UNAP.png') }}" alt="logo unap" style="height:60px"
          class="d-none d-sm-block">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar">
          <!-- <div class="container col align-self-center"><i class="fa fa-bars"></i> Menu</div> -->
          <div class="container d-flex">
            <i class="fa fa-bars"></i>
            <span class="d-none d-sm-block" style="margin-left: 5px;">Menu</span>
          </div>

          <!-- <span class="navbar-toggler-icon col align-self-center"></span>
      <span class="navbar-toggler-text col align-self-center">Menu</span>
      <div class="d-none d-sm-block col align-self-center">Menu</div> -->

        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header container-sm">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
            <button data-bs-dismiss="offcanvas" aria-label="Close" class="btn cerrar-btn rounded-circle">
              <i class="fa fa-close"></i>
            </button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{url_for('core.index')}}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('services.news')}}">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('core.about')}}">Acerca de</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Convocatoria</a>
              </li>
              {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('news_posts.create_post')}}">Create Post</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('news_posts.create_event')}}">Create Event</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('users.account')}}">Account</a>
              </li>
              <hr>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('users.logout')}}">Log Out</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- {% if current_user.is_authenticated %}

          <a class="nav-item nav-link" href="{{url_for('users.logout')}}">Log Out</a>
          <a class="nav-item nav-link" href="{{url_for('users.account')}}">Account</a>
          <a class="nav-item nav-link" href="{{url_for('news_posts.create_post')}}">Create Post</a>
          {% else %}
          <a class="nav-item nav-link" href="{{url_for('users.login')}}">Log In</a>
          <a class="nav-item nav-link" href="{{url_for('users.register')}}">Register</a>
          {% endif %} -->


    {% block content%}



    {% endblock %}


    <div class="footer-dark">
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-4 item-footer ">
              <h3>Servicios</h3>
              <ul>
                <li><a href="#">Web design</a></li>
                <li><a href="#">Development</a></li>
                <li><a href="#">Hosting</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-4">
              <img src="{{ url_for('static',filename='images/logo_v2_servicio social.png') }}" alt="logo footer"
                class="img-footer">
            </div>
            <div class="col-sm-6 col-md-4 item-footer">
              <h3>About</h3>
              <ul>
                <li><a href="#">Área del trabajador</a></li>
                <li><a href="#">Área del estudiante</a></li>
                <li><a href="#">serviciosocial@unap.edu.pe</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col item social">
              <a href="#"><i class="fa-brands fa-facebook"></i></a>
              <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
              <a href="#"><i class="fa-solid fa-envelope"></i></a>
            </div>
          </div>
          <p class="copyright">OTI © 2022</p>
        </div>

      </footer>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
    </script>
    <script src="{{ url_for('static', filename='js/jquery-3.6.3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
  </body>


</html>