{% extends "base.html" %}
{% block content %}
<main>
    <div class="separador"></div>
    <div class="container">
        <div class="row text-center" align="center">
            <h1>{{post.title}}</h1>
            <h2>Written by: {{post.author.username}}</h2>
            <h3>Published: {{post.date.strftime('%B %d, %Y')}}</h3>
            <div class="new-image">
                <img align="center" class="new-img" src="{{data_url}}">
            </div>
            <div>
                <p>{{post.text}}</p>
            </div>

        </div>
        <div class="row justify-content-md-center my-5">
            {% if post.author == current_user %}
            <div class="col-md-3 text-center">
                <a class="btn btn-primary" href="{{url_for('news_posts.update', news_post_id=post.id)}}">Update</a>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#del_modal">
                    Delete
                </button>
            </div>
            {% endif %}
        </div>

        <!-- Button trigger modal -->


        <!-- Modal -->
        <div class="modal fade" id="del_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Post?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete the post?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <form action="{{url_for('news_posts.delete_post', news_post_id=post.id)}}">
                            <input type="submit" name="" value="Delete" class="btn btn-danger">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="modal fade" tabindex="-1" id="del_modal" role="dialog" aria-labelledby="del_modal_label"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Post?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete the post?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                    <form action="{{url_for('news_posts.delete_post', news_post_id=post.id)}}">
                        <input type="submit" name="" value="Delete" class="btn btn-danger">
                    </form>


                </div>
            </div>
        </div>
    </div> -->

    </div>
</main>
{% endblock %}