{% extends "base.html" %}
{% block content %}

<!-- <div class="separador"></div> -->

<main class="my-3 news-font">
  <div class="imagen-principal mask-about">
    <div class="contenedor-texto">
      <div class="row texto-margen justify-content-center">
        <div class="col-md-4 imagen-principal-izq">
          Noticias de la Subunidad de Servicio Social
        </div>
        <div class="col-md-4 imagen-principal-der">
          Harvard is at the frontier of academic and intellectual discovery. Those who venture here—to learn, research,
          teach, work, and grow—join nearly four centuries of students and scholars in the pursuit of truth, knowledge,
          and a better world.
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row new-page">

      <div class="col-md-3 events">
        <h3>ULTIMOS EVENTOS</h3>
        {% for event in news_events %}
        <a href="{{url_for('news_posts.news_event', news_event_id=event.id)}}">
          <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">
              <h5>{{event.title}}</h5>
            </div>
            <div class="card-body">
              <h6 class="card-title">{{event.time}}</h6>
              <p class="card-text">{{event.place}}</p>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>

      <div class="col-md-9">

        {% if news_posts.items[0] %}
        {% set post = news_posts.items[0]%}
        <div class="row my-3 justify-content-md-center">

          <div class="col">
            <div class="card mb-3 news">
              <div class="row g-0 new-main">
                <div class="col-md-7 card-media-main">
                  <!-- <img src="https://picsum.photos/600/300" class="img-fluid rounded-start card-image" alt="..."> -->
                  <a href="{{url_for('news_posts.news_post', news_post_id=post.id)}}">
                    <img src="{{ url_for('static',filename='image_news/'+post.image1) }}"
                      class="img-fluid rounded-start card-image" alt="...">
                  </a>
                </div>

                <div class="col-md-5 card-body-main">
                  <div class="card-body ">
                    <h5 class="card-title hover-underline-animation"><a
                        href="{{url_for('news_posts.news_post', news_post_id=post.id)}}">{{post.title}}</a></h5>
                    <p class="card-text">{{post.description}}</p>
                    <p class="card-text">Publicado el: {{post.date.strftime('%Y-%m-%d')}}</p>

                  </div>
                  <div class="card-go">
                    <a href="{{url_for('news_posts.news_post', news_post_id=post.id)}}"><img
                        src=" {{ url_for('static',filename='images/circle-arrow-right-solid.svg' ) }}" alt="right arrow"
                        class="img_arrow_right_news"> Conocer más acerca
                      de</a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        {% endif %}
        <div class="row my-3 justify-content-md-center">
          {% for post in news_posts.items[1:] %}

          <div class="col-md-6 my-3">

            <div class="card news">
              <div class="card-media">
                <a href="{{url_for('news_posts.news_post', news_post_id=post.id)}}">
                  <img src="{{ url_for('static',filename='image_news/'+post.image1) }}" class="card-image" alt="...">
                </a>

              </div>
              <div class="row new-normal">

                <div class=" card-body">
                  <h5 class="card-title"><a
                      href="{{url_for('news_posts.news_post', news_post_id=post.id)}}">{{post.title}}</a></h5>
                  <p class="card-text">{{post.description}}</p>
                  <p>Publicado el: {{post.date.strftime('%Y-%m-%d')}}</p>
                </div>

                <div class="card-go">
                  <a href="{{url_for('news_posts.news_post', news_post_id=post.id)}}"><img
                      src=" {{ url_for('static',filename='images/circle-arrow-right-solid.svg' ) }}" alt="right arrow"
                      class="img_arrow_right_news"> Conocer más acerca
                    de</a>
                </div>
              </div>

            </div>


          </div>

          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="news-nav">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% for page_num in news_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2)%}
        {% if news_posts.page == page_num %}
        <li class="page-item disabled"><a class="page-link" href="{{url_for('services.news', page=page_num)}}">{{ page_num
            }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="{{url_for('services.news', page=page_num)}}">{{ page_num }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</main>
{% endblock %}